<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
  <div class="panel-body">
<h2>註冊</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, label:'信箱' ,autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password ,label:'密碼',help:'(至少8位)' ,autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation,label:'密碼確認', autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "註冊" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
